html{
	scroll-behavior: smooth;
}

body {
	background-color: #E7E7E7;
	margin: 0;
}

nav {
	background-color: #82D45A;
	padding: 0px;
	font-family: Trebuchet MS;
	position: fixed;
	z-index: 1;
	width: 100%;
	opacity: 0.90;
	filter: alpha(opacity=85);

	-webkit-box-shadow: 0px 9px 25px -12px rgba(0,0,0,0.61);
	-moz-box-shadow: 0px 9px 25px -12px rgba(0,0,0,0.61);
	box-shadow: 0px 9px 25px -12px rgba(0,0,0,0.61);
}

nav img {
	width: 150px;
}

nav a {
	text-decoration: none;
	color: black;
}

nav p {
	margin: 0;
	margin-left: 60px;
	font-size: 130%;
}

.container {
	position: relative;
	text-align: center;
}

.container img {
	width: 100%;
	min-width: 800px;
}

.container::after {
 box-shadow: inset 0 5px 10px 0 rgba(0,0,0,0.25);
 content: '';
 display: block;
 height: 99.3%;
 position: absolute;
 top: 0;
 width: 100%;
}

.center-left {
	position: absolute;
  	top: 44%;
  	left: 50%;
  	transform: translate(-110%, -50%);
  	padding-bottom: 50px;
  	width: 350px;
  	height: 100px;
}

.center-left h1 {
	color: white;
}

.center-left p {
	color: #393939;
	background: #82D45A;
	padding: 5px;
	padding-left: 10px; 
	padding-right: 10px;
	width: 83px;
	border-radius: 5%;
	font-weight: bold;
	float: right;
	margin-right: 55px;
	margin-top: -10px;
	font-family: Trebuchet MS;
	font-size: 95%;

}

.box-slide {
	display: inline-block;
}

.box-slide span {
	display: absolute;
	overflow: hidden;
	top: 0;
	animation: animate 10s linear infinite;
	opacity: 0;
	color: #f3ffa8;
}
@keyframes animate {	
	0%
	{
		opacity: 0;
		transofrm: translateY(-50px);
	}
	2%
	{
		opacity: 1;
		transofrm: translateY(0px);
	}
	10%
	{
		opacity: 1;
		transofrm: translateY(0px);
	}
	20%
	{
		opacity: 0;
		transofrm: translateY(50px);
	}
	100%
	{
		opacity: 0;
		transofrm: translateY(50px);
	}
}

.box-slide span:nth-child(1) {
	animation-delay: 0.5s;
}
.box-slide span:nth-child(3) {
	animation-delay: 3s;
}
.box-slide span:nth-child(2) {
	animation-delay: 4s;
}
.box-slide span:nth-child(4) {
	animation-delay: 6s;
}

.clients {
	background-color: #E7E7E7;
	font-family: Trebuchet MS;
}

.clients-text {
	margin-left: 10%;
	margin-top: 40px;
	font-weight: bold;
	font-size: 130%;
	color: #393939;
	font-size: 18px;
}

.client-logos {
	width: 100%;
	text-align: center;
}

.client-logos img:hover {
	transform: scale(1.05);
	transition: transform .5s ease;
}

.logo-items {
	width: 150px;
	padding: 5px;
	margin-right: 50px;
	margin-left: 50px;
	display: inline-block;
	align-items: center;
	vertical-align: middle;
}

.client-logos p {
	color: #393939;
	background: #82D45A;
	padding: 5px;
	padding-left: 10px; 
	padding-right: 10px;
	border-radius: 5%;
	align-content: right;
	font-weight: bold;
	width: 50px
}

footer {
	background-color: #4A4846;
	padding: 10px;
	box-shadow: inset 0 5px 10px 0 rgba(0,0,0,0.25);
	font-family: Trebuchet MS;
	font-size: 90%;
}

footer ul {
	list-style-type: none;
}

footer li {
	color: white;
	padding-top: 10px
}

.column {
	float: left;
	width: 24%;
}

footer ul:after {
	content: "";
	display: table;
	clear: both;
}

footer ul img {
	width: 30px;
}

.right-icon {
	margin-left: 8px;
}

footer a {
	text-decoration: none;
	color: white;
}